/* 웹폰트 연결 - 눈누 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');

* {margin:0; padding: 0;}
li {list-style:none;}
a {text-decoration: none; display: block; color: black; font-family: 'Noto Sans KR', sans-serif;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden
}
.wrap {width: 100%;}
.box {width: 1200px; margin: 0 auto;}
img {width:100%;}
header,section,footer {
    width: 100%;
    float:left;
}
/* 헤더 */
header {
    transition: all 0.5s;
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    background-color: transparent; /* 배경투명 */
    z-index: 40;   /*배경이미지가 내비 가려서 이거 씀 section보다 위에 배치*/
}
/* 화면이 아래로 내려가면 header의 배경색 흰색으로 변함 (제이쿼리임) */
header.active {
    /* background-color: #fff; */
    box-shadow: 0 5px 30px rgb(157, 157, 157); 
    /*그림자*/
}
header .box {
    display:flex;
    justify-content: space-between;
    flex-flow:nowrap;
    z-index: 40;
}
/* logo */
header .box .logo {
    width: 200px;
    margin: 20px 0;
    float:left;
}

/* 내비게이션 */
header .box nav {
    float:left;
    width: 100%;
    height: 80px;
    /* 서브메뉴가 주메뉴의 가운데로 오게 */
    margin: 0 auto;
    text-align: center;
    /* 주메뉴와 서브메뉴 사이 공간들 */
    line-height: 65px;
    z-index: 60;
}
/* 주메뉴 */
header .box nav > ul {
    display:flex;
    justify-content: space-around;
    flex-flow:nowrap;

    margin-top: 5px;
}

header .box nav > ul > li  {
    
}
header .box nav > ul > li > a {
    font-size: 16px;
}
/* 주메뉴에 마우스 올리면 색 변함 */
header .box nav > ul > li:hover > a {
    color: #52593c;
}
/* 서브메뉴 */
header .box nav ul > li > .sub {
    height: 0;
    transition: all 0.5s;
    /* 영역에서 벗어난 컨텐츠 숨김 */
    overflow: hidden;
}
header .box nav .sub > li > a {
    font-size: 14px;
    white-space: nowrap;
}
/* 첫번째 서브메뉴의 위쪽 여백 늘리기 (서브메뉴가 달싹거리는거 막기)*/
header .box nav .sub li:first-child a {
    padding-top: 20px;
}
header .box nav .sub li a:hover {
    color: #52593c;
}
/* 주메뉴에 마우스 오버했을때 서브메뉴 나옴 */
header .box nav:hover .sub {
    height: 270px; /*높이가 0에서 200px로 */
}
/* 서브메뉴 배경 */
header .sub_bg {
    width: 100%;
    height: 290px;
    background-color: #eee;
    position: absolute; /*서브메뉴와 겹침*/
    top: 80px;   /*위치설정*/
    left: 0;
    z-index: 50;
    display: none; /*숨김*/
}

/* 로그인 회원가입 */
header .box .top_menu {
    width:16.5%;
    float:right;
    margin-top: 23px;
    padding-left:2vw;
}
header .box .top_menu ul li {
    float: left;
    margin-left: 20px;
}
header .box .top_menu ul li a {
    padding: 5px;
    font-size: 13px;
}

/* ~~~~~s1~~~~~~~ */
.s1 {
    width: 100%;
    height: 970px;
    background-image: url(../img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* position: relative; */
}
.s1 .photo {
    width: 100%;
    height:970px;
    /* ul li 들이랑 겹치도록 */
    position: relative;
}
.s1 .photo ul li {
    /* .photo와 겹치도록 */
    position: absolute;
    width: 100%;
    height: 970px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* 배경으로 들어가는 이미지는 코딩으로 맞추는게 아닌, 편집을 딱 맞게 해서 가져와야함 */
.s1 .photo ul li.main1 {
    background-image: url(../img/main1-2.png);
}
.s1 .photo ul li.main2 {
    background-image: url(../img/main2-2.png);
}
.s1 .photo ul li.main3 {
    background-image: url(../img/main3-2.png);
}
/* 일단 첫번째 이미지만 보이게 하자*/
/* 1. 다 안보이게 하기 */
.s1 .photo ul li {
    display:none;
}
/* 2. 첫번째만 보이게 하기 */
.s1 .photo ul li:first-child {
    display: block;
}
/* 왼쪽 옆에 바 */
.s1 .bar {
    width: 120px;
    height:970px;
    background-color: #858f5e;
    /* ???? */
    position: absolute;
    top:0;
    left:0;
    opacity: 0.7;
    /* 글자 h3태그를 bar영역의 가운데로 정렬 */
    display: flex;
    flex-flow:row nowrap;
    justify-content: center; /*좌우 가운데 정렬*/
    align-items:center; /*상하 가운데 정렬*/
}
.s1 .bar h3 {
    color: white;
    font-size: 20px;
    opacity: 0.3;
    transform: rotate(90deg) /*90도 회전*/
}

/* 설명과 버튼 */
.s1 .des_box {
    width: 1200px;
    top: 300px;
    /* 좌우 가운데 정렬 공식 ! */
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
.s1 .des_box .des {
    height: 300px;
}
.s1 .des_box .des ul li {
    /* li와 겹침 */
    position: absolute;
    display:none;
}
.s1 .des_box .des ul li:first-child {
    display:block;
}
.s1 .des_box .des h2 {
    font-weight:normal; /*굵지 않게*/
    font-size: 20px;
}
.s1 .des_box .des h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.s1 .des_box .des p {
    color:#666;
}
.s1 .des_box .des a {
    width: 120px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 30px 0;
}
.s1 .des_box .des a:hover {
    background-color: #efefef;
}
.s1 .des_box .number {
    margin-top: 20px;
}
.s1 .des_box .number div {
    float: left;
}
.s1 .des_box .number .num ul li {
    float: left;
    padding: 10px 30px 10px 0; /* 위-오른쪽-아래-왼쪽 */
    /* 동그랗게 하고 싶으면 border radius하기 */
}
.s1 .des_box .number .num ul li a {
    font-weight: bold;
}
/* number가 활성화되면 나타나는 밑줄 */
.s1 .des_box .number .num ul li a.active:after {
    content:"";
    display: block;
    width: 100%;
    height:3px;
    margin-top: 5px;
    background-color:#333;
}

.s1 .des_box .number .btn {
    margin-top: 10px;
    margin-left: 60px;
}
.s1 .des_box .number .btn hr {
    float: left;
    width: 80px;
    height: 1px;
    border: none;
    background-color: rgb(0, 0, 0);
    margin-top: 13px;
}
.s1 .des_box .number .btn a {
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 3px;
    margin-left: 20px;
    background-image: url(../img/stop.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
.s1 .des_box .number .btn a.active {
    background-image: url(../img/play.png);
}
/* scroll */
/* scroll 버튼에서 동그라미 상하 운동 애니메이션 */
/* keyframes라는 css명령어사용, ani는 애니메이션 이름 */
@keyframes ani {
    0% {
        margin-top: 10px;
        opacity: 1;  /*불투명*/
    }
    40% {
        margin-top: 20px;
        opacity: 1;
    }
    60% {
        opacity: 0;  /*투명*/
    }
    100% {
        opacity: 0;  /*투명*/
    }
}
.s1 .scroll {
    width: 80px;
    /* 가운데정렬 3종세트 */
    position: absolute;   /*.phtoto와 겹침*/
    left: 50%;    
    transform: translateX(-50%); /*이거포함 위 3줄 가운데 정렬하란 공식*/
    
    bottom:1px;   /*아래에서 1만큼 올라와서 배치*/
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: center;
}
.s1 .scroll .scroll_btn {
    width: 24px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 auto;   /*가운데 정렬*/
    margin-top: 5px;
}
.s1 .scroll .scroll_btn .circle {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin:0 auto;
    margin-top: 20px;
    animation: ani 2.3s infinite;  /*@keyframes에서 지정한 애니메이션을 실행하는 명령어, 2.3초동안 실행/ infinite는 반복하라는 것*/
}

/* ~~~~~s2~~~~~~~ */
.s2 {
    width: 100%;
    height: 970px;
    margin-bottom: 8vw;
}
.s2 .center {
    width: 1200px;
    height: 970px;
    margin: 0 auto;

}
/* 제목 */
.s2 .center h1 {
    text-align: center;
    font-size: 48px;
    margin:90px 0;
}

.s2 .top {
    float: left;
    display: flex;
    flex-direction: row nowrap;
}
/* 왼쪽 이미지 */
.s2 .top .star_img {
    width: 30vw;
    height: 35vw;
    background-image: url(../img/vs2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* 오른쪽 영역 */
.s2 .top .star_txt ul {
    float:left;
}
.s2 .top .star_txt ul li {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 10vw;
}
.s2 .top .star_txt ul li .icon {
    width: 11vw;
}
.s2 .top .star_txt ul li .des {
    padding-top: 3vw;
    padding-left: 2vw;
}
.s2 .top .star_txt ul li .des h2 {
    font-size: 30px;
    color: #858f5e;
}
.s2 .top .star_txt ul li .des p {
    font-size: 20px;
    white-space: nowrap;
}
/* more 버튼 */
.s2 .center .more_btn {
    margin: 5vw;
    width: 100%;
    float:left;
}
.s2 .center .more_btn a {
    width: 140px;
    height:20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 15px 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
}
.s2 .center .more_btn a:hover {
    background-color: #eee;
}

/* ~~~~~s3~~~~~~~ */
.s3 {
    position: relative;
    /* 자식객체 .product2의 위치를 설정할 때 기준이 .s3(부모객체)가 되도록 설정 */
}
.s3 .area { /*확대하거나 축소해도 가운데로 오게 하는 것*/
    width:1920px; 
    margin:0 auto;
}
.s3 .product1 {
    width: 1230px;
    margin-top:200px;
}
.s3 .product1 h1 {
    font-size: 40px;
    margin-left: 200px;
    line-height: 40px;
}
.s3 .product1 h1 span {
    color: #b42b32;
    font-size: 24px;
}
.s3 .product1 .product_title {
    width:1230px;
    height:570px;
    background-color: #52593c;
    border-radius: 0 0 160px 0;
    margin-top: 30px;
}
.s3 .product1 .product_title .product_des {
    margin-left: 200px;
    padding-top: 50px;
    float: left;           /*product_des와 나란히 정렬*/
}
.s3 .product1 .product_title .product_des ul li h3 {
    color: #fff;
    font-size:30px;
}
.s3 .product1 .product_title .product_des ul li h3 span {
    opacity: 0.1;
    font-size: 50px;
    margin-right: 10px;
}
.s3 .product1 .product_title .product_des ul li p {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}
/* 더하기 버튼 */
.s3 .product1 .product_title .product_des ul li a {
    width: 60px;
    margin:50px;
    margin-left: 0;
}
/* 모든 product_des ul li 안보임 */
.s3 .product1 .product_title .product_des ul li {
    display: none;
    position:absolute;
}
/* 첫번째 product_des ul li 만 보임 */
.s3 .product1 .product_title .product_des ul li:first-child {
    display: block;
}
/* product_list */
.s3 .product1 .product_title .product_list {
    float: left;           /*product_des와 나란히 정렬*/
    margin-top: 200px;
    margin-left: 500px;
}
.s3 .product1 .product_title .product_list ul li {
    width: 200px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.s3 .product1 .product_title .product_list ul li a {
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    padding-left:0;
    opacity:0.5;
}
.s3 .product1 .product_title .product_list ul li.active a {
    border-bottom:3px solid #fff;
    padding-left: 30px;
    opacity:1;
}
/* product2 */
.s3 .product2 {
    width:840px;
    height:630px;
    position:absolute; /*product1과 겹침*/
    /* background-color:rgb(185, 209, 228);   위치확인하려고 색 넣은것 안넣어도 오케이 */
    top: 60px;
    left: 55%;   /* 원래는 left: 46.5%;  */
}
.s3 .product2 ul li {
    position: absolute;   /*이미지 겹침*/
    display: none;  /*안보임*/
}
/* 첫번째 이미지만 보임 */
.s3 .product2 ul li:first-child {
    display: block;
}

/* 신제품 new */
.s4 {position: relative; height: 1400px;}
.s4 .area { /*확대하거나 축소해도 가운데로 오게 하는 것*/
    width:1920px; 
    margin:0 auto;
    margin-top: 130px;
    position: relative;
}
/* 큰 왼쪽 사진 */
.s4 .new_bg {
    float: left;
    width: 740px;
    height: 940px;
    background-image: url(../img/vs4_big.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;

}
/* 오른쪽 큰 글씨 */
.s4 .new_des {
    float: left;
    padding: 60px;
}
.s4 .new_des .new_title {
    width: 100%;
    margin-bottom: 20px;   /*h3과의 간격 20px*/
    float: left;  /* new_title과 형제객체인 p영역 구분 */
}
.s4 .new_des .new_title h1 {
    font-size: 40px;
    float: left;  /*h1과 hr 가로로 나열*/
}
.s4 .new_des .new_title h1 span {
    color: #b42b32;
    font-size: 24px;
}
.s4 .new_des .new_title hr {
    float: left; /*h1과 hr 가로로 나열*/
    width: 500px;
    margin-top: 85px;
    margin-left: 40px;
}
.s4 .new_des h3 {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
}
.s4 .new_des p {
    font-size: 16px;
    line-height: 24px; /*줄간격*/
}
/* 더하기 버튼 */
.s4 .new_des a {
    width: 60px;
    margin: 50px;
    margin-left: 0;
}
.s4 .new_list {
    width: 96%;
    position: absolute; /* new_title 영역과 겹침 */
    left: 0;
    top: 600px;
}
/*.s4 .new_list ul {
    width: 3000px; } li 가로로 나열할 때 ul의 가로길이가 길어야 함*/

.s4 .new_list div div{
    width: 400px;
    height: 380px;
    /* background-color: rgba(238,238,238,0.5); */
    /*float: left; li 가로로 나열*/
    /* margin: 35px; */
    /* padding: 50px; */
    /* box-sizing: border-box; */
    /*position: relative; 자식객체 p태그의 위치 잡을때 li가 기준이 되도록 설정*/
}
.s4 .new_list .swiper .swiper-wrapper .swiper-slide .new_img {
    width: 300px;
    margin: 0 auto;
    /* margin-top: -100px; */
}
.s4 .new_list div div p {
    font-size:20px;
    margin-top: 280px;
    width: 12vw;
    text-align: center;
    position: absolute;
    padding: 20px;
    white-space: nowrap; /*글자 줄바꿈 방지*/
    background-color: #a2b193;
    top: 0;
    color: #fff;
    left: 50%;
    transform: translate(-50%); /* 가운데 정렬 공식 */
}
/* .s5 꾸미기 */
.s5 {position: relative;}
.s5 .atelier_bg { 
    position: absolute;
    width:100%; 
    height: 930px;
    left: 0;
    top: 40px;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    /* background-color: #7f96bf89; */
    z-index: 1;
}
.s5 .box {
    width: 1200px;
    height: 970px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.s5 .box .photo {
    float: left;
    z-index: 1;
    width: 600px;
}
.s5 .box ul {
    width: 600px;
    box-sizing: border-box;
    float: left;
    padding: 50px;
}
.s5 .box ul li {
    font-size: 40px;
}
.s5 .box h1 {
    font-size: 50px;
    line-height: 100px;
}
.s5 .box p {
    font-size: 20px;
    line-height: 100px;
}
/* more btn */
.s5 .box .more_btn {
    width: 100%;
    float:left;
    margin-bottom: 80px;
}
.s5 .box .more_btn a {
    width: 140px;
    height:20px;
    /* margin: 0 auto; */
    border: 1px solid #ccc;
    padding: 15px 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
}
.s5 .box .more_btn a:hover {
    background-color: #eee;
}



/* footer */


footer .footer_box {
    width: 100%;
    float: left;
}
footer .footer_box:first-child {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 50px;
}
footer .footer_box .box .footer_list ul li {
    float: left;
}
footer .footer_box .box .footer_list ul li a {
    font-size: 13px;
    padding: 15px;
    color: #666;
}
footer .footer_box .box .footer_list ul li a:after {
    content: "|"; /*파이브기호 : shift + \($)*/
    margin-left: 30px;
}
/* .footer_list ul li의 마지막 li에서 파이프기호 없애기 */
footer .footer_box .box .footer_list ul li:last-child a:after {
    content:"";
}
footer .footer_box .box .footer_left {
    float: left;
    padding: 50px 0;
    color: #666;
}
footer .footer_box .box .footer_left h1 {
    font-size: 15px;
    margin-bottom: 1vw;
}
footer .footer_box .box .footer_left address {
    font-style: normal;
    font-size: 12px;
    font-weight:unset;
    margin-bottom: 0.5vw;
}
footer .footer_box .box .footer_left p {
    font-size: 10px;
}
footer .footer_box .box .footer_right {
    float: right;
    padding: 50px 0;
    color: #666;
}
footer .footer_box .box .footer_right h1 {
    font-size: 20px;
    margin-bottom: 0.5vw;
}
footer .footer_box .box .footer_right .phone {
    margin-bottom: 0.5vw;
    font-size: 25px;
}
footer .footer_box .box .footer_right h4 {
    font-size: 11px;
}